@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Manage patients</h1>
</div>

<button><a asp-controller="Home" asp-action="CreateOrEditPatient">Create</a></button>

<div class="row">
    <div class="col-sm-3 m-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img" height="50" width="50"/>
                <h5 class="card-title">Onur AKMESE</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-3 m-2">
        <div class="card">
            <div class="card-body">
                <img class="card-img" height="50" width="50"/>
                <h5 class="card-title">Onur AKMESE</h5>
            </div>
        </div>
    </div>
</div>